<div id="curAppealWrapper" class="curIframe-wrapper">
    <iframe id="curAppealIframe" src="/currentAppeal/{{appeal_id}}"></iframe>
    <button id="closeCurIframeBtn" class="close-cur-iframe">×</button>
</div>

<a class="support-tab__item" id="openCurAppeal">
            <div class="support-tab__item-date" id="openCurAppeal" >
                <p>{{created_at}}</p>
            </div>
            <div class="support-tab__item-tag" id="openCurAppeal">
                <p>{{tag}}</p>
            </div>
            <div class="support-tab__item-name" id="openCurAppeal">
                <p>{{name}}</p>
            </div>
            <div class="support-tab__item-status" id="openCurAppeal">
                <p>{{status}}</p>
            </div>
        </a>
