<div class='stars-section__item'>
    <a
        class='stars-section__image'
        href='/star/{{id}}'
        data-navigate
        id='starPageLink'
    >
        <img src={{star_photo}} alt={{star_name}} loading='lazy' />
    </a>
    <h4 class='stars-section__name'>{{star_name}}</h4>
    <p class='stars-section__role'>{{role_name}}</p>
</div>