<main class="content">
    <section class="description container">
        <div class="description__content">
            <div class="description__actor">
                <img class="description__actor-photo" src={{preview}} alt="{{name}}">
                <h2 class="description__actor-name">{{name}}</h2>
            </div>

            <div class="description__block">
                <h3 class="description__title">Overview</h3>
                <h4 class="description__text">Born: {{birth_date}}</h4>
                <h4 class="description__text">Birth name: Matthew David McConaughey</h4>
            </div>

            <div class="description__block">
                <h3 class="description__title">Biography</h3>
                <div class="description__bio">
                    <h4 class="description__text--hidden">
                        {{bio}}
                    </h4>

                    <button class="description__button">
                        <h4 class="description__button-text">Show more ∨</h4>
                    </button>
                    </details>

                </div>
    </section>


    <section class="films-recommendations container">
        <h3 class="films-recommendations__title">Popular with author</h3>

        <div class="films-recommendations__wrapper">
            <button class="films-recommendations__button films-recommendations__button--left">‹</button>
            <div class="films-recommendations__list" id="recommendations-section">
            </div>
            <button class="films-recommendations__button films-recommendations__button--right">›</button>
        </div>
    </section>
</main>

</html>