<main class="content">
    <section class="description container">
        <div class="description__content">
            <div class="description__actor">
                <img class="description__actor-photo" src={{photo}} alt="{{name}}">
                <h2 class="description__actor-name">{{name}}</h2>
            </div>

            <div class="description__block">
                <h3 class="description__title">Overview</h3>
                <h4 class="description__text">Born: {{birth_date}}</h4>
                {{!-- <h4 class="description__text">Birth name: Matthew David McConaughey</h4> --}}
            </div>

            <div class="description__block">
                <h3 class="description__title">Biography</h3>
                <div class="description__bio">
                    <h4 class="description__text--hidden">
                        {{bio}}
                    </h4>

                    <button class="description__button">
                        <h4 class="description__button-text">Show more ∨</h4>
                    </button>
                    </details>

                </div>
            </div>

            <div class='films' id='filmsContainer'></div>
    </section>
</main>

</html>