<header class='header container'>
    <div class='header__inner'>
        <a class='header__logo logo' href='/' data-navigate id='homeLink'>
        </a>
        {{! <input class='header__input input' type='text' placeholder='Search' /> }}
        <div class='header__auth'>
            {{#if isAuthorized}}
                <div class="header__auth">
                    <a href="/account/settings" data-navigate="/account/settings" class="header__user">
                    {{#if user.avatar_url}}
                    <img src="{{user.avatar_url}}" alt="{{user.username}}" class="header__avatar" />
                    {{else}}
                    <div class="header__avatar header__avatar--placeholder"></div>
                    {{/if}}
                    <span class="header__username" data-navigate="/account/settings">{{user.username}}</span>
                    </a>
                </div>
                <button
                    class='header__auth-button button'
                    type='button'
                    id='logOutBtn'
                >Log out</button>
            {{else}}
                <button
                    class='header__auth-button button'
                    type='button'
                    data-navigate='/signup'
                >Sign up</button>
                <button
                    class='header__auth-button button'
                    type='button'
                    data-navigate='/login'
                >Log in</button>
            {{/if}}
        </div>
    </div>
    <nav class='header__menu'>
        <ul class='header__menu-list'>
            <li class='header__menu-item'>
                <a
                    class='header__menu-link'
                    href='/films'
                    data-navigate
                    id='homeLink'
                >
                    <h4 class='header__menu-title'>Films</h4>
                </a>
            </li>
            <li class='header__menu-item'>
                <a
                    class='header__menu-link'
                    href='/series'
                    data-navigate
                    id='homeLink'
                >
                    <h4 class='header__menu-title'>Series</h4>
                </a>
            </li>
        </ul>
    </nav>
</header>